<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <img class="icon" src="Qr logo.png" alt="icon" height="3%" width="3%">
        <nav>
            <ul class="navbar">
                <li><a href="ssip.html">Home</a></li>
                <li><a href="register.html">Register</a></li>
                <li><a href="login.html">login</a></li>
            </ul>
        </nav>
    </header>


    <div class="content-container">
        <div class="police">
            <img src="qr police.png" alt="QRpolice" height="400px" width="400px">
        </div>

        <div class="quote">
            <p>Turning QR codes into a bridge of trust between citizens and law enforcement.</p>
        </div>

        <div class="intro">
            <p>Welcome to the future of community engagement with law enforcement. Our QR code-based Police Feedback System is your direct link to sharing your thoughts, concerns, and suggestions about policing in your area. We believe in fostering transparency, accountability, and collaboration, as we work together to create safer and more responsive communities. Join us in this transformative journey towards a better tomorrow.</p>
        </div>
    </div>
</body>
</html>