<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered</title>
    <link rel="stylesheet" href="style3.css">
</head>
<body>
    <header>
        <img class="icon" src="QR CODE FEEDBACK.png" alt="icon" height="3%" width="3%">
        <nav>
            <ul class="navbar">
                <li><a href="#">Home</a></li>
                <li><a href="#">Analysis</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">login</a></li>
            </ul>
        </nav>
    </header>

    <div class="centered-content">
        <div class="thank">
            <p class="t1">Thank You!</p>
            <p class="t2">Your feedback has been received and registered with us. Thank you for being an active participant in improving policing in your community.</p>
        </div>
    
        <a href="index.html" class="home">Go to Home</a>
    </div>
</body>
</html>
